@use '@/styles/variables.scss' as *;

.container {
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-bg-page;
}

.title {
  font-size: $font-size-lg;
  color: $color-text-primary;
  font-weight: $font-weight-semibold;
  margin-bottom: $spacing-sm;
}

.hint {
  font-size: $font-size-md;
  color: $color-text-tertiary;
}
